:root {
    --clr-black: #1c1c1c;
    --clr-gray: #ececec;
    --clr-white: #f7f7f7;
  
    --type-normal: #a8a878;
    --type-fire: #f08030;
    --type-water: #6890f0;
    --type-grass: #78c850;
    --type-electric: #f8d030;
    --type-ice: #98d8d8;
    --type-fighting: #c03028;
    --type-poison: #a040a0;
    --type-ground: #e0c068;
    --type-flying: #a890f0;
    --type-psychic: #f85888;
    --type-bug: #a8b820;
    --type-rock: #b8a038;
    --type-ghost: #705898;
    --type-dark: #705848;
    --type-dragon: #7038f8;
    --type-steel: #c0c0cf;
    --type-fairy: #f0b6bc;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  body {
    min-height: 100vh;
    background-color: var(--clr-gray);
  }
  header {
    width: 100%;
    height: 50%;
    margin: 0 auto;
  }
  
  .divImg {
    display: flex;
    justify-content: center;
  }
  .imgLog {
    width: 70%;
    height: auto;
    object-fit: contain;
  }
  
  .searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    width: 100%;
  }
  
  .searchTitle {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-size: 30px;
    margin: 10px;
  }
  #searchInput {
    width: 300px;
    height: 50px;
    margin: 10px;
    font-size: 20px;
    font-family: fantasy;
  }
  .searchButton {
    width: 50px;
    height: 45px;
    margin: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: orangered;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .searchButton > i {
    color: #fff;
    font-size: 24px;
  }
  .searchButton:hover {
    background-color: rgb(147, 56, 23);
    transition: all 0.2s ease-in-out;
  }
  
  .paragraph {
    margin: 0 10px;
    width: 400px;
    padding: 10px;
    background-color: #4dad5b;
    border-radius: 5px;
    text-align: center;
  }
  .searchText {
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    color: #fff;
  }
  
  /*---------------------------------------main---------------------------------*/
  main {
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  /* categoria */
  
  .sectionCategory {
    display: flex;
    margin: 0 30%;
    justify-content: space-between;
    padding-top: 20px;
  }
  .randomButton {
    width: 300px;
    margin: 0 100px;
  }
  
  .randomButton > button {
    font-size: 20px;
    width: 200px;
    height: 40px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    border-radius: 15px;
    border: none;
    background-color: #6890f0;
    color: whitesmoke;
    cursor: pointer;
    transition: all 0.4s linear;
  }
  
  .randomButton > button:hover {
    background-color: #d6efff;
  }
  
  .category {
    width: 200px;
  }
  .category > label {
    font-size: 20px;
  }
  
  /* activar un pokemon para que se vea o no*/
  .pokemonBox:not(.active) {
    display: none;
  }
  .filterContainer:not(.active) {
    display: none;
  }
  .hide {
    display: none;
  }
  
  .infoContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 350px;
    max-width: 80%;
    border-radius: 10px;
    background-color: rgba(226, 226, 234, 0.941);
    z-index: 1001;
  }
  /*----------------------------------------- caja de filtro------------------------------------------------- */
  .texto {
    font-size: 20px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }
  .filterContainer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: flex-start;
    padding-inline: 2rem;
    padding: 2rem;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .filterType {
    display: flex;
    align-items: center;
    transition: 0.2s;
    gap: 0.5rem;
  }
  
  .filterButton {
    font-size: 1rem;
    justify-content: center;
    letter-spacing: 0.1rem;
    transition: all 0.3s linear;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 100vmax;
    border: none;
  }
  
  .filterButton.normal {
    background-color: var(--type-normal);
    color: var(--clr-black);
  }
  
  .filterButton.bug {
    background-color: var(--type-bug);
    color: var(--clr-black);
  }
  
  .filterButton.fairy {
    background-color: var(--type-fairy);
    color: var(--clr-black);
  }
  
  .filterButton.dragon {
    background-color: var(--type-dragon);
    color: var(--clr-white);
  }
  
  .filterButton.fire {
    background-color: var(--type-fire);
    color: var(--clr-black);
  }
  
  .filterButton.ghost {
    background-color: var(--type-ghost);
    color: var(--clr-white);
  }
  
  .filterButton.ground {
    background-color: var(--type-ground);
    color: var(--clr-black);
  }
  
  .filterButton.psychic {
    background-color: var(--type-psychic);
    color: var(--clr-black);
  }
  
  .filterButton.steel {
    background-color: var(--type-steel);
    color: var(--clr-black);
  }
  
  .filterButton.dark {
    background-color: var(--type-dark);
    color: var(--clr-white);
  }
  
  .filterButton.electric {
    background-color: var(--type-electric);
    color: var(--clr-black);
  }
  
  .filterButton.fighting {
    background-color: var(--type-fighting);
    color: var(--clr-white);
  }
  
  .filterButton.flying {
    background-color: var(--type-flying);
    color: var(--clr-black);
  }
  
  .filterButton.grass {
    background-color: var(--type-grass);
    color: var(--clr-black);
  }
  
  .filterButton.ice {
    background-color: var(--type-ice);
    color: var(--clr-black);
  }
  
  .filterButton.poison {
    background-color: var(--type-poison);
    color: var(--clr-white);
  }
  
  .filterButton.rock {
    background-color: var(--type-rock);
    color: var(--clr-black);
  }
  
  .filterButton.water {
    background-color: var(--type-water);
    color: var(--clr-white);
  }
  /*----------------------pokemon box-------------------*/
  .pokemonList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .pokemonBox {
    flex: 1;
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
    padding-block: 1rem;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    transition: all 0.3s ease; /* Add this line for smooth transition */
  }
  
  .pokemonBox:hover {
    transform: scale(1.05); /* Scale up slightly instead of using margin */
    box-shadow: 0 0 4rem -1rem rgba(0, 0, 0, 0.4); /* Enhance shadow on hover */
    cursor: pointer;
    z-index: 1; /* Ensure hovered card appears above others */
  }
  .pokemonIdBack {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10rem;
    font-weight: 800;
    z-index: -1;
    color: var(--clr-gray);
  }
  .imgPoke {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
  }
  .imgPoke img {
    width: 100%;
    max-width: 10rem;
  }
  .pokeInfo {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
  }
  .namePoke {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 1.4rem;
    text-transform: capitalize;
  }
  
  .idPokemon {
    background-color: var(--clr-gray);
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
    font-size: 0.75rem;
    font-weight: 500;
  }
  
  .pokeTypes {
    display: flex;
    gap: 0.5rem;
    font-size: 0.75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .type {
    padding: 0.25rem 0.5rem;
    border-radius: 100vmax;
  }
  
  /*-------------------bnt ver mas--------------------- */
  .loadMoreContainer {
    display: flex;
    justify-content: center;
    z-index: 1000;
    padding: 10px 0;
    margin-top: 10px;
  }
  
  .loadMoreButton {
    background-color: #6890f0;
    color: whitesmoke;
    border: 2px solid #0077cc;
    padding: 10px 20px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
  }
  
  .loadMoreButton:hover {
    background-color: #d6efff;
  }
  
  /* ----------------------------------contenedor de infromacion*/
  
  dialog.infoContainer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: auto;
    max-width: 80%;
    border-radius: 10px;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.25);
    z-index: 1001;
    padding: 2rem;
  }
  
  dialog.infoContainer::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  
  dialog.infoContainer .img {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
  
  dialog.infoContainer .img img {
    width: 100px;
    height: 100px;
  }
  
  dialog.infoContainer .infoDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
  }
  
  dialog.infoContainer .dataBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  dialog.infoContainer .weaknessPoke {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
  }
  
  dialog.infoContainer .closeButton {
    background-color: #6890f0;
    color: whitesmoke;
    border: 2px solid #0077cc;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin: 10px 0;
    transition: background-color 0.3s ease;
  }
  
  dialog.infoContainer .closeButton:hover {
    background-color: #d6efff;
  }
  
  @media (max-width: 768px) {
    .infoContainer {
      width: 90%;
    }
  }